<div id="filters">
    <div class="filter">
        <div><a href="/listing/category?search=Trending"><i class="fa-solid fa-fire"></i></a></div>
        <p>Trending</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Rooms"><i class="fa-solid fa-bed"></i></a></div>
        <p>Rooms</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Iconic city"><i class="fa-solid fa-mountain-city"></i></a></div>
        <p>Iconic city</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Moutains"><i class="fa-solid fa-mountain"></i></a></div>
        <p>Moutains</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Castles"><i class="fa-brands fa-fort-awesome"></i></a></div>
        <p>Castles</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Amazing pools"><i class="fa-solid fa-person-swimming"></i></a></div>
        <p>Amazing pools</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Camping"><i class="fa-solid fa-campground"></i></a></div>
        <p>Camping</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Farms"><i class="fa-solid fa-tractor"></i></a></div>
        <p>Farms</p>
    </div>
    <div class="filter">
        <div><a href="/listing/category?search=Arctic"><i class="fa-regular fa-snowflake"></i></a></div>
        <p>Arctic</p>
    </div>
    <div class="filter">
      <div><a href="/listing/category?search=Domes"><i class="fa-solid fa-igloo"></i></a></div>
      <p>Domes</p>
    </div>
   <div class="filter">
      <div><a href="/listing/category?search=Boats"><i class="fa-solid fa-ship"></i></a></div>
      <p>Boats</p>
    </div>
    <div class="switch">
        <div class="form-check-reverse form-switch widthForm">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
    </div>
</div>